{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}
    <div class="container">
        <article class="mt-5">
            <h4>Post title</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet dicta dignissimos dolor earum fuga fugiat ipsam provident repellat voluptatem? Enim esse et excepturi illum libero magni provident qui repellat.
            </p>
            <p><a class="btn btn-primary" href="">read more</a></p>
        </article>
        <article class="mt-5">
            <h4>Post title</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet dicta dignissimos dolor earum fuga fugiat ipsam provident repellat voluptatem? Enim esse et excepturi illum libero magni provident qui repellat.
            </p>
            <p><a class="btn btn-primary" href="">read more</a></p>
        </article>
        <article class="mt-5">
            <h4>Post title</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet dicta dignissimos dolor earum fuga fugiat ipsam provident repellat voluptatem? Enim esse et excepturi illum libero magni provident qui repellat.
            </p>
            <p><a class="btn btn-primary" href="">read more</a></p>
        </article>
        <article class="mt-5">
            <h4>Post title</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet dicta dignissimos dolor earum fuga fugiat ipsam provident repellat voluptatem? Enim esse et excepturi illum libero magni provident qui repellat.
            </p>
            <p><a class="btn btn-primary" href="">read more</a></p>
        </article>
    </div>
{% endblock %}
